.header {
  background-color: $clr-secondary;
  padding: 2rem;
  text-align: center;
  &__logo {
    margin-bottom: 2.5rem;
  }
}

.nav {
  &__list {
    display: flex;
    justify-content: center;
    gap: 4rem;
  }

  &__item {
  }

  &__link:is(:link, :visited) {
    font-family: "Alegreya SC", sans-serif;
    font-size: 1.8rem;
    text-decoration: none;
    color: $clr-white;
  }

  &__link:is(:hover, :active) {
    color: $clr-primary--2;
  }
}

.section-hero {
  padding: 6rem 2rem;
  background-color: $clr-secondary--4;
  color: $clr-secondary--1;
  text-align: center;

  @include respond($bp-tab-port){
    padding: 6rem;
  }

  & span {
    display: block;
  }
}

.hero {
  &__img {
    border-radius: 1rem;
    width: 100%;
  }

  &__text {
    margin-bottom: 2.5rem;
  }
}
