//////////////////////////////////////
/// TO DO: Day and Hours separation //
/// //////////////////////////////////

.section-hours {
  padding: 6rem 2rem;
  background-color: $clr-secondary--4;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond($bp-tab-port){
    padding: 6rem;
  }
}

.hours {
  @include respond($bp-tab-port){
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
  }

  &__supporting-text {
    margin-bottom: 4rem;
    text-align: center;
  }

  &__row {
    padding: 0 2rem;
    position: relative;
    display: flex;
    gap: 2rem;
    
    @include respond($bp-tab-land){
      gap: 4.5rem;
    }


    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
  }

  &__day {
    @extend %style-heading;
    color: $clr-secondary--2;
    font-size: $ft-size-28;
  }

  &__from-to {
    font-size: $ft-size-13;
  }
}

// .hours__row::before, .hours__row::after {
//   position: absolute;
//   content: "";
//   background-color: $clr-secondary;
  
//   width: 1px;
//   height: 30%;
//   transform: translateY(130%);
// }


// .hours__row::before{
// left: 0;
// }
// .hours__row::after{
// right: 0;
// }

