@mixin respond($breackpoint) {
  @if ($breackpoint==tab-port) {
    @media only screen and (min-width: 37.5em) {
      @content;
    }
  }

  @if ($breackpoint==tab-port-int) {
    @media only screen and (min-width: 47.15em) {
      @content;
    }
  }

  @if ($breackpoint==tab-land) {
    @media only screen and (min-width: 56.25em) {
      @content;
    }
  }

  @if ($breackpoint==desktop) {
    @media only screen and (min-width: 68.75em) {
      @content;
    }
  }
}

%style-heading {
  font-family: "Alegreya SC", sans-serif;
  font-weight: 700;
  letter-spacing: 0.16rem;
  text-transform: uppercase;
  text-align: center;
  color: $clr-primary;
}
