.section-pricing {
  padding: 6rem 2rem;
  background-color: $clr-secondary--3;

  @include respond($bp-tab-port){
    padding: 6rem;
  }
}

.price {
  text-align: center;

  &:not(:last-child){
    margin-bottom: 4rem;
  }

  &__description {
    @extend %style-heading;
    font-size: 1.8rem;
    color: $clr-secondary--2;
  }

  &__amount {
    font-size: 1.8rem;
    font-weight: 700;
    font-family: 'Alegreya SC',sans-serif;
  }
}
