.section-pricing {
  padding: 6rem 0;
  background-color: $clr-secondary--3;
}

.prices {
  max-width: 800px;
  margin: 0 auto;
  
  @include respond($bp-tab-port) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include respond($bp-tab-land) {
  }
}

.price {
  text-align: center;

  @include respond($bp-tab-port) {
    width: 30%;
  }

  &:not(:last-child) {
    margin-bottom: 4rem;
  }

  &__description {
    @extend %style-heading;
    font-size: 1.8rem;
    color: $clr-secondary--2;
  }

  &__amount {
    font-size: 1.8rem;
    font-weight: 700;
    font-family: "Alegreya SC", sans-serif;
  }
}
