.heading-primary {
  font-size: $ft-size-60;
  @extend %style-heading;

  @include respond($bp-tab-land){
    font-size: $ft-size-90; 
  }
}

.heading-secondary {
  font-size: $ft-size-36; 
  @extend %style-heading;
  
  @include respond($bp-tab-land){
    font-size: $ft-size-48;
  }
}

.heading-tertiary {
  font-size: $ft-size-28;
  @extend %style-heading;
}

.heading-fourth {
  font-size: $ft-size-18;
  @extend %style-heading;
}
