.bg-primary {
  background-color: $clr-primary;
}

.bg-secondary {
  background-color: $clr-secondary;
}

.clr-white {
  color: $clr-secondary--4;
}

.mgn-bt-tiny {
  margin-bottom: 2.5rem;
}

.mgn-bt-small {
  margin-bottom: 4rem;
}

.mgn-bt-medium {
  margin-bottom: 6rem;
}

.mgn-bt-large {
  margin-bottom: 8rem;
}

.mgn-bt-huge {
  margin-bottom: 10rem;
}

.ln-height-small {
  line-height: 1;
}

.mgn-left-small {
  @include respond($bp-tab-port) {
    margin-left: 2rem;
  }
}
