//  COLORS

$clr-primary: #913022;
$clr-primary--1: #d35643;
$clr-primary--2: #e7a298;

$clr-secondary: #1f1714;
$clr-secondary--1: #47352c;
$clr-secondary--2: #92664d;
$clr-secondary--3: #c2b29e;
$clr-secondary--3: #e8e1d9;
$clr-secondary--4: #efeae5;

$clr-black: #000;
$clr-white: #fff;

// FONT SIZES

// Fonts sizses for headings

$ft-size-60: 6rem;
$ft-size-48: 4.8rem;
$ft-size-36: 3.6rem;
$ft-size-28: 2.8rem;

// Fonts sizes for regular text

$ft-size-16: 1.6rem;
$ft-size-18: 1.8rem;
$ft-size-21: 2.1rem;

// SHADOWS

$bx-shadow--1: 0 0.4rem 1.6rem rgba($clr-black, 0.05);
$bx-shadow--2: 0 0.4rem 1.6rem rgba($clr-black, 0.15);


// Breakpoints

$bp-tab-port:tab-port;
$bp-tab-land:tab-land;
$bp-desktop:desktop;